<% content_for :body_content_left do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>

  <% if @posts.any? %>
    <section id="blog_posts">
     <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
      <%= will_paginate @posts, :page_links => false  %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>
<% end %>

<% content_for :body_content_right_prepend do -%>
  <%= raw @page.content_for(Refinery::Pages.default_parts.second.to_sym) %>
<% end if Refinery::Pages.default_parts.many? -%>
<%= render :partial => '/refinery/blog/shared/body_content_right' %>

<%= render :partial => "/refinery/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
<% content_for :footer do -%>
  <script type="text/javascript">
    //<![CDATA[
    (function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
    if(links[i].href.indexOf('#disqus_thread') >= 0) {
    query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/poetrybooths/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
  </script>
<% end -%>