<%= render '/refinery/content_page' %>
<section id="featured_projects">
  <h1>Handcrafted by Aquo</h1>
  <% @projects.each do |project| %>
    <a href="/projects/<%= project.id %>">
      <section id="project_browse">
        <%=image_fu project.logo, nil %>
        <h2><%=raw project.name %></h2>
        <h3><%=raw project.overview %></h3>
      </section>
    </a>
  <% end %>
</section>
<div id="learn_more">
  <section id="featured_blog_posts">
    <h1>Featured blog posts</h1>
    <% @posts.each do |post| %>
        <section id="post">
          <h2><%=link_to post.title, refinery.blog_post_path(post)%></h2>
          <%=raw post.custom_teaser %>
          <h2><%=link_to 'read more', refinery.blog_post_path(post)%><h2>
        </section>
    <% end %>
  </section>
  <section id="know_aquo">
    <h1>Get to Know Aquo</h1>
    <p>A paragraph about Aquo should be here. It would be cool if we could set up a section of the admin to let you edit this, but its lower priority since this content shouldn't change too often.</p>
    <a href='/contact'>get in touch with us</a>
  </section>
</div>