<%= render '/refinery/content_page' %>
<section id="featured_projects">
  <h1>Handcrafted by Aquo</h1>
  <% @projects.each do |project| %>
    <a href="/project/<%= project.id %>">
      <section id="project_browse">
        <%=image_fu project.logo, nil %>
        <h2><%=raw project.name %></h2>
        <h3><%=raw project.overview %></h3>
      </section>
    </a>
  <% end %>
</section>
<section id="featured_blog_posts">
  <h1>Featured blog posts</h1>
  <% @posts.each do |post| %>
      <section id="post">
        <h2><%=raw post.title %></h2>
        <%=raw post.custom_teaser %>
        <h2><%=link_to 'read more', refinery.blog_post_path(post)%><h2>
      </section>
  <% end %>
</section>