
<%= render :partial => "/refinery/content_page" %>
<div class='inquiries'>
  <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
    <%= render :partial => "/refinery/admin/error_messages",
               :locals => {
                 :object => @inquiry,
                 :include_object_name => true
               } %>
    <div class="info">
      <div class="field">
        <%= f.text_field :name, :class => 'text', :required => 'required', :placeholder => ' Your Name*' %>
      </div>
      <div class="field">
        <%= f.email_field :email, :class => 'text email', :required => 'required', :placeholder => ' Your E-Mail Address*' %>
      </div>
      <div class="field">
        <%= f.text_field :phone, :class => 'text phone', :placeholder => ' Your Phone/Mobile*' %>
      </div>
      <div class="field">
        <%= f.text_field :company, :class => 'text', :required => 'required',  :placeholder => ' Your Company*' %>
      </div>
    </div>
    <div class='field message_field'>
      <%= f.text_area :message, :rows => 5, :required => 'required', :placeholder => ' Message*' %>
    </div>
    <div class="actions">
      <%= f.submit t('inquire') %>
      <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
    </div>
  <% end %>
</div>
